.container {
  width: 1200px;
  border: solid 2px;
  margin: 0 auto;
}

.title {
  margin-top: 0px;
  padding-top: 5px;
}
.topbar {
  background: rgb(53, 202, 145);
  height: 100px;
}
.nav {
  background: violet;
  height: 35px;
}
.container {
  background: white;
}
.millieu{
    background: yellow;
    height: 550px;
    margin: 20px;
}
.footer{
    background: rgb(53, 202, 145);
    height: 70px;
    margin-bottom: 0px;
}
