.container{
    width: 1200px;
}
.word{
    background: rgba(255, 255, 255, 0.336);
    padding-bottom: 0;
    margin-bottom: 0;
}
.word, .word_primary{
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.menu{
    display: flex;
    background: rgb(224, 80, 80);
    height: 80px;
    color: white;
    justify-content: center;
    align-items: center;
}

.main_container{
    display: flex;
}
.left_side, .right_side{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 250px;
    background: rgb(120, 120, 245);
}
.verticals_midlles{
    display: flex;
}
.quadrilateral_vertical{
    box-sizing: border-box;
    border: solid 2px white;
    display: flex;
    justify-content: center;
    width: 140px;
    height: 820px;
    background: rgb(129, 197, 129);
}
.quadrilateral_vertical .word {
    margin-top: 434px;
    margin-bottom: 355px;
}
.footer_container{
    display: flex;
    height: 80px;
    background: yellow;
    color: white;
    justify-content: center;
    align-items: center;
}