.list{
    &:hover{
        background-color: lightblue;
    }
    list-style: none;
    .list_item{
        color: red;
        
        // & faut féférence au selecteur extéreur, le selecteur parent. list_item
        &:hover{
            background-color: lightcoral;
        }
    }
}
/*
Sass propose une le moyen d'imbriquer les éléments, cel pemet une meilleure organisations et lisibilité du code Css dans sont ensemble

Le sélécteur paret Sass & est un sélécteur spécial inveté pa  Sass qui est utilisé dans les sélecteurs imbriqué pour faire référrence au selecteur extérieur
*/ 

