body{
    background: black;
}

.container{
    background: white;
    height: 700px;
    width: 1200px;
    padding: 10px 100px;
    margin: 0 auto;
}

.main{
    display: flex;
    height: 630px;
}


.haut{
    background: red;
    height: 70px;
}

.gauche{
    background: rgb(86, 86, 170);
    width: 150px;
    height: 100%;
}
.millieu{
    background: green;
    width: 900px;
}

.droite{
    background: brown;
    width: 150px;
}